[submodule "front"]
	path = front
	url = https://github.com/MayuNA-mayuna/sample-front.git
	branch = main
[submodule "api"]
	path = api
	url = https://github.com/MayuNA-mayuna/sample-api.git
	branch = main
